<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Ej. Real Madrid" aria-label="Search"
        [(ngModel)]="favTeam">
      <!-- <input matInput placeholder="Ex. Real Madrid CF"  [(ngModel)]="favTeam"> -->
      <button type="button" (click)="searchTeam()" class="btn btn-info">Buscar</button>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchTeam()">Search</button> -->
    </div>
  </div>
</nav>

<!-- <mat-progress-bar mode="determinate" value={{(display)}}></mat-progress-bar> -->

  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 5px;width: {{display}}%"></div>

<div class="card-container">

  <div *ngIf="loading"class="d-flex justify-content-center">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
  <ng-container *ngIf="!loading && !error && !errorService">

    <div class="row">
      <div class="col-sm-4" *ngFor="let partido of partidos">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{partido.date}}</h5>
            <p class="card-text"></p>
            <p class="card-text">{{partido.local.name}}</p>
            <p class="card-text">{{partido.visit.name}}</p>
            <!-- <a href="#" class="btn btn-primary">...</a> -->
          </div>
        </div>
      </div>

    </div>
  </ng-container>


  <div *ngIf="error" class="alert alert-danger" role="alert">
    No hemos localizado tu equipo!
  </div>
  <div *ngIf="errorService" class="alert alert-danger" role="alert">
    Sesion ha caducado, por favor actualizar pagina!
  </div>
  <div *ngIf="errorApi" class="alert alert-danger" role="alert">
    API No disponible actualmente!.
  </div>
</div>
